ul.is-inline,
ol.is-inline {
  padding-left: 0;
}

ul.is-inline > li,
ol.is-inline > li {
  display: inline;
}

.is-dotted > li:not(:last-of-type):after {
  content: "•";
  padding-left: calc(var(--main-font-gap) / 2);
}
.is-dotted > li.metadata--artifacts:after {
  content: "";
  padding-left: 0;
}

ul.is-discrete,
ol.is-discrete {
  list-style: none !important;
  padding-left: 0 !important;
}

ul.with-metadata > li,
ol.with-metadata > li {
  display: flex;
  flex-direction: column;
  padding: calc(var(--main-font-gap) / 4) 0;
  position: relative;

  @media screen and (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }

  a:after {
    content: "";
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
}
  ul.with-metadata > li .metadata,
  ol.with-metadata > li .metadata {
    align-self: flex-start;
    font-size: 0.8em;
    min-width: 120px;
    text-transform: uppercase;
  }
  ul.with-metadata h2,
  ul.with-metadata h3,
  ul.with-metadata h4 {
    padding-top: 0;
  }

  .with-metadata > li .metadata + * {
    margin-top: 0;
  }
  .with-metadata > li .metadata + .message {
    background: transparent;
    white-space: pre-line;
  }

  ul.with-metadata > li div:first-child {
    margin-left: 120px;
  }
