@import 'bower_components/css.oncletom.io/src/less/_variables';

body {
  transition: all .5s ease;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: fade(white, 50%);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@import 'components/reveal-overrides';
@import 'components/reveal-backgrounds';