@import '../modifiers/images.css';

body {
  background-color: var(--light-shade);
  border-top: 4px solid var(--light-accent);
  color: var(--dark-shade);
  padding: 2rem;
  scroll-behavior: smooth;
}

body > *:first-child {
  margin-top: 0;
}

details summary {
  cursor: pointer;
}

[lang="en"] a[lang="fr"]::after,
[lang="en-GB"] a[lang="fr"]::after,
[lang="en"] a[lang="fr-FR"]::after,
[lang="en-GB"] a[lang="fr-FR"]::after,
/* */
[lang="fr"] a[lang="en"]::after,
[lang="fr"] a[lang="en-GB"]::after,
[lang="fr-FR"] a[lang="en"]::after,
[lang="fr-FR"] a[lang="en-GB"]::after {
  content: "\00A0(" attr(lang) ")";
  opacity: .4;
  text-decoration-color: transparent;
}

::selection {
  background-color: var(--light-accent);
}

main[role="main"] {
  padding-top: 2rem;
}

a {
  color: var(--link-foreground);
  text-decoration-line: underline;
  text-decoration-color: var(--link-foreground);
}
a:hover, a:focus {
  text-decoration: none;
}

.needs-js {
  display: none;
}

.js-enabled .needs-js {
  display: inherit;
}

nav li a {
  white-space: nowrap;
}

.explainer::before {
  content: "⚠️";
  font-style: normal;
  padding-right: .5em;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.next::before,
hr {
  content: "";
  display: block;
  border: none;
  border-top: 4px solid var(--light-accent);
  margin-bottom: 1rem;
  margin-left: 0;
  margin-top: 1rem;
  width: 160px;
}
