@import '../modifiers/lists.css';

header.header {
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  /* position: sticky;
  top: 0rem; */
}

header.header .profile-picture {
  display: none;
}

header.header .profile-picture a {
  line-height: 1;
}

header.header .presentation :first-child {
  margin-top: 0;
}

header.header a {
  color: var(--dark-shade);
  font-weight: bold;
  text-decoration-color: var(--brand-color);
}

  @media screen and (min-width: 768px) {
    header.header {
      display: grid;
      grid-template-columns: auto 3fr;
      grid-row-gap: calc(var(--main-font-gap) * 2);
      grid-column-gap: calc(var(--main-font-gap) * 2);
    }

    header.header .profile-picture {
      display: block;
      grid-row: 1 / span 2;
    }

    header.header .profile-picture img {
      height: calc(var(--main-font-gap) * 6);
      vertical-align: bottom;
    }

    header.header .presentation p:first-child,
    header.header nav .is-inline {
      margin: 0;
    }

    header.header nav {
      align-self: flex-start;
    }
  }
