.tiles {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: var(--main-font-gap) 0;
  list-style: none;
}

.tiles:empty {
  display: none;
}

@media (width >= 768px) {
  .tiles {
    grid-template-columns: repeat(2, 1fr);
    margin: var(--main-font-gap) auto;
  }

  .tile .cover.is-square img {
    position: absolute;
  }
}

@media (width >= 1280px) {
  .tiles {
    grid-template-columns: repeat(4, calc(var(--main-font-gap) * 12));
    grid-template-rows: calc(var(--main-font-gap) * 12);
    max-width: calc(var(--main-font-gap) * 12 * 4);
  }
}

.tiles--portrait {
  column-gap: var(--main-font-gap);
  row-gap: var(--main-font-gap);
  grid-template-rows: auto;
}

.tiles > li {
  position: relative;
  overflow: hidden;
}
    .tiles--portrait .tile .cover {
      float: left;
      margin-right: .5rem;
      max-height: calc(var(--main-font-gap) * 6);
      max-width: 100%;
    }
    .tiles--portrait .tile [itemprop="name"] {
      font-weight: bold;
    }

    .tile.is-square {
      aspect-ratio: 1;
      line-height: 0;
    }
    .tile.is-square img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

  .tile a[rel="bookmark"] {
    background: var(--light-shade);
    padding: calc(var(--main-font-gap) / 2);
    line-height: var(--main-font-gap);
    margin: 0;
    position: absolute;
  }
  .tiles > :nth-child(2n+1) .tile a[rel="bookmark"] {
    bottom: 0;
    left: 0;
  }
  .tiles > :nth-child(2n+2) .tile a[rel="bookmark"] {
    bottom: unset;
    top: 0;
    left: 0;
  }
  .tiles > :nth-child(2n+4) .tile a[rel="bookmark"] {
    bottom: unset;
    left: unset;
    right: 0;
    top: 0;
  }
  .tiles > :nth-child(2n+5) .tile a[rel="bookmark"] {
    bottom: 0;
    left: unset;
    right: 0;
    top: unset;
  }
