body {
  background: #151515;
}

.reveal{
  font-family: Optima, "Helvetica Nueue", sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
  font-family: Optima, "Helvetica Nueue", sans-serif;
  margin-bottom: .75em;
  text-transform: none;
}

.reveal ol, .reveal ul{
  margin: .5em 0;
}

.reveal pre, .reveal code{
  font-family: "Droid Sans Mono", "Andale Mono", "Courrier New", monospace;
}
.reveal code{
  background: #333;
  border-radius: 5px;
  padding: 2px 3px;
}
.reveal pre code{
  max-height: 800px;
}

.reveal section p small{
  vertical-align: middle;
}

.reveal table{
  margin: 1em 0;
  width: 100%;
}

.reveal em,
.reveal i{
  color: #aaa;
}

.reveal strong,
.reveal b{
  color: darkorange;
  font-weight: normal;
  text-shadow: none;
}

.reveal a:not(.image){
  color: rgba(255, 140, 0, .7);
  text-decoration: none;
}
.reveal a:not(.image):hover,
.reveal a:not(.image):focus{
  color: rgba(255, 140, 0, 1);
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 140, 0, .7);
  -moz-text-decoration-color: rgba(255, 140, 0, .7);
  text-decoration-color: rgba(255, 140, 0, .7);
}

.reveal pre{
  font-size: 0.9em;
  width: 100%;
}


.reveal .progress span{
  background: darkorange;
}

.presentations-index {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.presentations-index h2 {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}