.contrasted,
.attention {
  body {
    background-color: @brand-darker;
    color: #fff;
  }

  em, i, a {
    color: yellow;
  }
}

.attention {
  body {
    background-color: #000;
  }
}

.code {
  body {
    background-color: #23241f;    //monokai background color
    color: #fff;
  }

  .reveal {
    code {
      background: transparent;
      color: lighten(@gray-light, 15%);
    }

    pre {
      border: none;
      border-radius: 0;
      box-shadow: none;

      .attribute,
      .symbol,
      .symbol .string,
      .tag .title,
      .value,
      .css .tag {
        color: lighten(#f92672, 15%);
      }
    }

    pre .tag .title, pre .value, pre .css .tag {

    }
  }
}

//.reveal section[data-credit]::after {
//  bottom: 0;
//  content: attr(data-credit);
//  display: inline-block;
//  font-size: 0.6em;
//  position: absolute;
//  right: 0;
//  text-align: right;
//}
