.contrasted,
.attention {
  body {
    background-color: @brand-darker;
    color: #fff;
  }

  em, i, a {
    color: yellow;
  }
}

.attention {
  body {
    background-color: #000;
  }
}

@import './code';


//.reveal section[data-credit]::after {
//  bottom: 0;
//  content: attr(data-credit);
//  display: inline-block;
//  font-size: 0.6em;
//  position: absolute;
//  right: 0;
//  text-align: right;
//}
